@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'League Spartan', sans-serif; */
:root {
    --font-style: 'League Spartan', sans-serif;
}


/* :root {
    --primary: #192231;
    --secondary: #404a42;
    --third: #c0b283;
    --fourth: #eddbcd;
    --fifth: #f4f4f4;
    --borders: #cce7d0;
    --brand: #929292;
} */
/* 
navbar{
    bgcolor= --blue-background: #caf0f8;
    menu a= --light-blue: #304a58;
}
home{
    bgcolor= --blue-background: #caf0f8;
    h2= --dark-blue: #03045e;
    input-bg=  --background: black;
    input-color= --dark-blue: #03045e;
    icons-bg= --ocean-blue: #48cae4; 
    icon:hover = --dark-blue: #03045e;
}
products{
    background-color: var(--card-color2);
    h2= --dark-blue: #03045e;
    button-bg= --background: black;
    btn-color= --blue: #0466c8;
    btn-borer= --blue: #0466c8;
    btn:hover{
        background-color: var(--dark-blue);
        color: var(--background);
        border-color: var(--background);
    }
    h4{
        color: var(--dark-blue);
    }
    p {
        color: var(--light-blue);
    }
}
footer{
    icons{
        color: var(--red);
    }
    .title {
        color: var(--dark-blue);
    }
    a {
        color: var(--light-blue);
    }
}
*/
:root {
    /* --background: white;
    --dark-blue: #03045e;
    --light-blue: #304a58;
    --ocean-blue: #48cae4;
    --blue-background: #caf0f8;
    --card-color: #f1f0f0;
    --card-color2: white;
    --red: #f94144;
    --svg-color: black;
    --elevate-shadow: #00000040 0px 25px 50px -12px;
    --blue: #0466c8;
    --fixed-shadow: #00000029 0px 1px 4px; */

    --background: black;
    --dark-blue: #8eecf5;
    --light-blue: #4895ef;
    --ocean-blue: #12131d;
    --blue-background: #12131d;
    --card-color: #0e0f0f;
    --card-color2: #ff9900;
    --red: #06bebb;
    --svg-color: #c4faff;
    --elevate-shadow: #201de9a2 0px 25px 50px -12px;
    --blue: #fb9937;
    --banner: #4896ef6f;
    --light-font: #758290;
}

/* :root {
    --first: #7A000B;
    --second: #E59E4A;
    --third: #758290;
    --fouth: #7C8B94;
} */

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    line-height: 64px;
}

h2 {
    font-size: 50px;
    line-height: 54px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 50px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: var(--primary);
    background-color: var(--ocean-blue);
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    transition: 0.3s ease;
}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: var(--background);
    background: transparent;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid var(--background);
    outline: none;
    transition: 0.3s ease;
}



body {
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-style);
    background-color: var(--blue-background);
    color: white;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--blue-background);
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.455);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

img.logo {
    height: 40px;
    transition: 0.3s ease;
}
.animate-logo{
    position: relative;
    animation: LogoAnimate 1.5s ease-out alternate;
}

@keyframes LogoAnimate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: NavAnimate 1.5s ease-out alternate;
}
@keyframes NavAnimate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--light-blue);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--dark-blue);
    transition: 0.5s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 1.5px;
    background-color: var(--dark-blue);
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 0.5s ease;
    animation: Content 0.2s ease-in-out;
}
@keyframes Content {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home page */
#hero {
    background-image: url(img/hero2.jpg);
    background-position: top 25% right 0;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* #hero h4,h2,h1,p,button{
    position: relative;
    animation: HeroAnimate 1.5s alternate ease-in;
} */

@keyframes HeroAnimate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#hero h4 {
    padding-bottom: 15px;
    color: var(--ocean-blue);
}
#hero h2{
    color: var(--ocean-blue);
}    
#hero h1 {
    color: var(--ocean-blue);
}

#hero p {
    color: var(--ocean-blue);
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    border: none;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#hero button a{
    color: var(--blue);
    text-decoration: none;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box {
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 0px 0px 20px -5px #ffffff6e;
    border: 1px solid var(--svg-color);
    border-radius: 5px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 0 0 40px -10px #ffffffab;
}

#feature .feature-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .feature-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    border-radius: 4px;
    color: var(--card-color);
    line-height: 1;
}

#feature .feature-box:nth-child(1) h6 {
    background-color: #79D0D9;
}

#feature .feature-box:nth-child(2) h6 {
    background-color: #e69bc8;
}

#feature .feature-box:nth-child(3) h6 {
    background-color: #E5F4D0;
}

#feature .feature-box:nth-child(4) h6 {
    background-color: #9BC5E3;
}

#feature .feature-box:nth-child(5) h6 {
    background-color: #DAD1EE;
}

#feature .feature-box:nth-child(6) h6 {
    background-color: #e7b49c;
}

#product1 {
    text-align: center;
}

#product1 h2 {
    color: var(--svg-color);
}

#product1 p {
    color: var(--dark-blue);
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    margin: 15px 0;
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 8px #ffffff79;
    transition: 0.2s ease;
    position: relative;
    background-color: var(--);
}

#product1 .pro:hover {
    box-shadow: 0px 0px 30px #ffffff79;
    transform: scale(1.02,1.02);
}

#product1 .pro img {
    width: 100%;
    border-radius: 10px;
    border: 0.1px solid var(--blue);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: var(--dark-blue);
    font-size: 13px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: var(--dark-blue);
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: #f3b519;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: var(--svg-color);
}

#product1 .pro .cart {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    border-radius: 50%;
    background-color: var(--card-color);
    font-weight: 500;
    color: var(--svg-color);
    border: 1px solid var(--blue);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b3.jpg);
    color: var(--dark-blue);
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    font-size: 16px;
}

#banner h2 {
    font-size: 35px;
    padding-bottom: 10px 0;
    font-weight: 300;
}

#banner h2 span {
    color: var(--card-color2);
}

#banner button:hover {
    background-color: var(--light-blue);
    color: var(--fifth);
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 550px;
    color: var(--dark-blue);
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 15px;
}

#sm-banner .banner-box2 {
    background-image: url(img/banner/b10.jpg);
}

#sm-banner h4 {
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: var(--svg-color);
    border: 1px solid var(--background);
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    min-width: 25%;
    color: var(--dark-blue);
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url(img/banner/b4.jpg);

}

#banner3 .banner-box3 {
    background-image: url(img/banner/b18.jpg);
}

#banner3 h2 {
    color: var(--fifth);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 22px;
}

#banner3 h3 {
    color: var(--secondary);
    font-weight: 800;
    font-size: 15px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: var(--banner);
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: var(--dark-blue);
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-blue);
}

#newsletter p span {
    color: var(--card-color2);
}

#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter .form div,
#coupon div{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: var(--dark-blue);
    padding: 5px 5px 5px 10px;
    width: 80%;
    border-radius: 9px;
}
#newsletter input,
#coupon div input{
    font-size: 14px;
    width: 100%;
    outline: none;
    background: none;
    border: 0;
}

#newsletter button,
#coupon div button {
    background-color: var(--background);
    color: var(--light-blue);
    white-space: nowrap;
    box-shadow: 0px 0px 20px -2px var(--background);
}
#newsletter button:hover{
    background-color: var(--blue);
    color: var(--ocean-blue);
    padding: 15px 29px;
    border: 0.5px solid var(--ocean-blue);
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .ftr-logo {
    margin-bottom: 20px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
    color: var(--dark-blue);
    font-weight: 900;
}

footer p {
    font-size: 15px;
    color: var(--svg-color);
    margin: 0 0 8px 0;
    font-weight: 200;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: var(--svg-color);
    margin-bottom: 10px;
    font-weight: 100;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: var(--red);
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid var(--brand);
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: var(--red);
}

footer .copyright {
    width: 100%;
    text-align: center;
}


/* Shop page */
#page-header{
    background-image: url(img/banner/b1.jpg);
    background-color: var(--blue);
    width: 100%;
    height: 40vh;
    color: var(--dark-blue);
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* padding: 14px; */
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: var(--secondary);
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-evenly;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background-color: var(--fourth);
}
#prodetails .single-pro-details span{
    line-height: 25px;
}


/* blog page */
#page-header.blog-header{
    background-image: url(img/banner/b19.jpg);
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 70px;
    position: relative;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog .blog-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details h4,p{
    color: var(--light-font);
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: var(--dark-blue);
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--dark-blue);
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: var(--card-color2);
}
#blog .blog-details a:hover::after{
    background-color: var(--card-color2);
}
#blog .blog-box h1{
    position: absolute;
    top: -60px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: var(--light-font);
    z-index: -9;
}
/* about page */
#page-header.about-header{
    background-image: url(img/about/banner.png);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div{
    width: 50%;
    padding-left: 40px;
}
#about-head div h2,p,abbr{
    color: var(--dark-blue);
}
#about-head div marquee{
    color: var(--ocean-blue);
    font-weight: 100;
}
#about-app{
    text-align: center;
}
#about-app h1{
    color: var(--dark-blue);
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/* contact page */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
    color: var(--dark-blue);
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;    
    color: var(--dark-blue);
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
    color: var(--dark-blue);
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
    color: var(--dark-blue);
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
    color: var(--dark-blue);
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;

}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid var(--borders);
}
#form-details form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid var(--svg-color);
    border-radius: 3px;
    background-color: var(--banner);
}
#form-details form button{
    background-color: var(--svg-color);
    border: 1px solid var(--background);
    color: var(--blue-background);
}
#form-details form button:hover{
    background-color: var(--background);
    border: 1px solid var(--svg-color);
    color: var(--svg-color);
}
#form-details .people div{
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-break: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--fourth);
}

/* cart page */
#cart{
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    color: var(--svg-color);
}
#cart table img{
    width: 70px;
    border-radius: 4px;
}
#cart table .delete{
    color: var(--svg-color);
    font-size: 15px;
}
#cart table tr:hover{
    background-color: #5d5d5d39;
    transition: 0.3s ease;
}
#cart table td input:focus{
    outline: none;
}
#cart table td{
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 50px;
    padding: 10px 0px 10px 15px;
    border: none;
    border-radius: 5px;
}
#cart table thead{
    border: 1px solid var(--red);
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart-add{
    display: flex;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
    color: var(--dark-blue);
}
#coupon input{
    padding: 10px 10px;
    outline: none;
    width: 60%;
    border-radius: 4px;
    border: 1px solid var(--borders);
}
/* #coupon button, */
#subtotal button{
    padding: 11px 20px;
    border-radius:4px;
    background-color: var(--dark-blue);
    color: var(--ocean-blue);
    border: 0.5px solid var(--dark-blue);
}
#subtotal button:hover{
    border: 0.5px solid var(--dark-blue);
    background-color: transparent;
    color: var(--dark-blue);
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid var(--borders);
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50px;
    border: 1px solid var(--dark-blue);
    padding: 10px;
    font-size: 13px;
}


/* Media Query start here */


@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -350px;
        height: 100vh;
        width: 180px;
        background-color: #ff84008b;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
        padding: 80px 0 0 10px;
        transition: 0.2s;
        backdrop-filter: blur(10px);
    }
    #navbar li a {
        color: var(--ocean-blue);
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: var(--svg-color) !important  ;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: var(--primary);
        font-size: 24px;
    }

    /* #lg-bag {
        display: none;
    } */

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 20%;
    }

    #feature {
        justify-content: center;
    }

    #feature .feature-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 25%;
    }
    #newsletter .form {
        width: 70%;
    }
    #newsletter input, #coupon div input {
        width: 100%;
    }
    /* blog page */
    #blog {
        padding: 100px 40px 0 40px;
    }   

    /* contacct age */
    #form-details {
        padding: 20px;
    }
    #form-details form {
        width: 50%;
    }
    #cart-add{
        padding: 20px 20px;
    }
}
/* mobile screen */
@media (max-width:477px){
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position: 65%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .feature-box {
        width: 130px;
        margin: 0 0 15px 0px;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }

    /* single product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }

    /* blog page */
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100%;
    }

    /* about page */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        width: 100%;
        padding-left: 0px;
    }
    #about-app .video {
        width: 100%;
    }
    #about-app h1{
        font-size: 30px;
    }

    /* contact page */
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* cart page */

    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal{
        width: 100%;
    }
}