body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
.header{
    width: 1280px;
    height: 45px;
    background-color: #2874f0;
    position: sticky;
    top: 0;
}
.nav{
    margin: auto;
    width: 1280px;
    height: 120px;
    background-color: white;
    /* position: sticky;
    top: 45px; */
}
.hero-section{
    margin: auto;
    margin-top: 10px;
    width: 1200px;
    height: 350px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
img{
    height: 750px;
    width: 1300px;
    
}
.content{
    margin: auto;
    margin-top: 1%;
    width: 1200px;
    height: 350px;
    background-color: white;
}
.footer{
    background-color: #212121;
    width: 1280px;
    height: 300px;
}