*{
    margin: 0;
    padding: 0;
}
.box{
    margin: 5% auto;
    height: 200px;
    width: 200px;
    background-color: #fc4322;
    transition: ease-in-out all .5s;
}
h1{
    display: none;
}
.box:hover{
    /* transform: scale(4,1.1); */
    transform: rotate(720deg);
    border-radius: 50%;
    background-color: #737373;
}
