:root{
    --primary-solor: #000;
    --secondary-color: #fff;
}

#menu{
    margin: 7px;
    float: right;
}
#menu li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
nav{
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
}
nav a{
    text-decoration: none;
    color: #000;
}
.home-img img{
    width: 65%;
}
.testimonial-author-info img{
    width: 70px;
    height: 70px;
}
.portfolio-item img{
    height: 200px;
}
.contact .text input{
    display: none;
}
.contact .text #demo6{
    font-size: 10px;
    width: 50px;
    text-align: center;
    animation:fadeIn 2s;
}
  @keyframes fadeIn{
    0%{width: 00px;}
    100%{width: 50px;}
    }





@media only screen and (min-width:320px) and (max-width:480px)
{
    #menu{
        margin-top: 33px;
    }
    #menu li{
        width: 100%;
        text-align: center;
        font-size: 15px;
        margin: 0;
    }
    .home-img img{
        width: 75%;
    }
}
@media only screen and (min-width:481px) and (max-width:768px) 
{
    #menu{
        margin-top: 33px;
    }
    #menu li{
        width: 100%;
        text-align: center;
        font-size: 15px;
        margin: 0;
    }
    .home-img img{
        width: 60%;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px) 
{
    #menu li{
        text-align: center;
        font-size: 15px;
        margin-left: 5px;
    }
    .home-img img{
        width: 80%;
    }
}